#outerC{
	margin: 100px auto;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	border: 3px solid;
	border-color: #EE217A;
}
#innerC{
	margin:8px auto;
	height: 480px;
	width: 480px;
	border-radius: 50%;
	border: 3px solid #83AA91;
}

#imageC{
	margin: 100px auto;
	height: 275px;
	width: 275px;
	border-radius: 50%;

	border: 3px solid #60C3A2;
}

#personBubble{
	position: relative;
	margin:10px 50%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid red;
	background-color: #20213A;
}


body {
	background-color: #20213A;
}