#container{
	position: relative;
	top:0;
	width: auto; /* width + border for IE 5.x */
	w\idth: auto; /* real width */
	margin: auto;
}

#outerC{
	margin: 100px auto;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	border: 3px solid;
	border-color: #EE217A;
}
#innerC{
	margin:8px auto;
	height: 480px;
	width: 480px;
	border-radius: 50%;
	border: 3px solid #83AA91;
}

#imageC{
	margin: 100px auto;
	height: 275px;
	width: 275px;
	border-radius: 50%;
	border: 3px solid #60C3A2;
}

.propic{
	position: relative;
	top: 12.5px;
	left:12.5px;
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#lbutton{
	position: absolute;
	right:10px;
	top:10px;
}

.bubble{
	z-index: 1;
	position:absolute;
	margin:10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid red;
/*	background-color: #20213A;
*/
	background-color: white;
}

#cbox{
	height:100px;
	width:100px;
	border: 2px solid purple;
}

#totalbox{
	position: relative;
	top:50px;
	margin: auto;
	height:700px;
	width: 700px;
	border: 2px solid red;
}

.snappoint{

}
/*Margin:top right down left*/
/*12 o clock*/
#snappoint1{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	top:50px;
	left:290px;
}
/*1 oclock*/
#snappoint2{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	top: 110px;
	right: 110px;
}

/*3 oclock*/
#snappoint3{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	top: 290px;
	right: 50px;
}
/*4 o clock*/
#snappoint4{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	bottom: 110px;
	right: 110px;
}

/*6 o clock*/
#snappoint5{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	top:530px;
	left:290px;
}

#snappoint6{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	bottom: 110px;
	left: 110px;
}

#snappoint7{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	top: 290px;
	left: 50px;
}

#snappoint8{
	position: absolute;
	height:120px;
	width: 120px;
	border: 2px solid green;
	top: 110px;
	left: 110px;
}
#container h1{
	position: absolute;
}

h1{
	font-family: "helvetica";
	color: white;
	font-size: 3em;
	padding: .25em 0 0 1em;
}

body {
	background-color: #20213A;
}

@media (handheld){

}