#container{
	position: relative;
	top:0;
	width: auto; /* width + border for IE 5.x */
	width: auto; /* real width */
	margin: 0;
}

#outerC{
	margin: auto;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	border: 3px solid;
	border-color: #ED2A7B;
}
#innerC{
	margin:8px auto;
	height: 480px;
	width: 480px;
	border-radius: 50%;
	border: 3px solid #ED2A7B;
}

#imageC{
	margin: 100px auto;
	height: 275px;
	width: 275px;
	border-radius: 50%;
	border: 3px solid #ED217B;
}

.propic{
	position: relative;
	top: 12.5px;
	left:12.5px;
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#lbutton{
	position: fixed;
	left:650px;
	top:340px;
	padding: .25em;
}

.bubble{
	z-index: 1;
	position:absolute;
/*	margin:10px;
*/	width: 78px;
	height: 78px;
	border-radius: 50%;
	border: 10px solid #280F32;
	background-color: #20213A;
	padding: 10px;
}

/*#cbox{
	height:100px;
	width:100px;
	border: 2px solid purple;
}*/

#totalbox{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top:140px;
	height:600px;
	width: 700px;
}

.snappoint{
    position: absolute;
    height: 114px;
    width: 114px;
    border: 2px solid #5BC09D;
    border-radius: 50%;
}
/*Margin:top right down left*/
/*12 o clock*/
#snappoint1{
	top:-50px;
	left:290px;
}
/*1 oclock*/
#snappoint2{
	top: 20px;
	right: 110px;
}

/*3 oclock*/
#snappoint3{
	top: 190px;
	right: 50px;
}
/*4 o clock*/
#snappoint4{
	bottom: 110px;
	right: 110px;
}

/*6 o clock*/
#snappoint5{
	bottom: 50px;
	left:290px;
}

#snappoint6{
	bottom: 110px;
	left: 110px;
}

#snappoint7{
	top: 190px;
	left: 50px;
}

#snappoint8{
	top: 10px;
	left: 110px;
}
#container h1{
	position: fixed;
}

h1{
	color: white;
	font-size: 3em;
	padding: .25em 0 0 1em;
}

body {
	background-color: #21213A;
    font-family: 'Dorsa', sans-serif;
}

@media (handheld){

}
