/**/
#outerC{
	margin: auto;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	border: 3px solid;
	border-color: #ED2A7B;
}
#innerC{
	margin:8px auto;
	height: 480px;
	width: 480px;
	border-radius: 50%;
	border: 3px solid #ED2A7B;
}

#imageC{
	margin: 100px auto;
	height: 275px;
	width: 275px;
	border-radius: 50%;
	border: 3px solid #ED217B;
}

.propic{
	position: relative;
	top: 12.5px;
	left:12.5px;
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#lbutton{
	position: absolute;
	display: block;
	right:0px;
	bottom:0px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.bubble{
	position:absolute;
/*	margin:10px;
*/	width: 78px;
	height: 78px;
	border-radius: 50%;
	border: 10px solid #280F32;
	background-color: #20213A;
	padding: 10px;
    display: block;
    border-radius:50%;
/*    cursor: move;
*/    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    opacity: .2;
}

/*#cbox{
	height:100px;
	width:100px;
	border: 2px solid purple;
}*/

#totalbox{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top:140px;
	height:600px;
	width: 700px;
}

.snappoint{
    position: absolute;
    height: 114px;
    width: 114px;
    border: 2px solid #5BC09D;
    border-radius: 50%;
    background-color: #21213A;
}
/*Margin:top right down left*/
/*12 o clock*/
#snappoint1{
	top:-50px;
	left:290px;
}
/*1 oclock*/
#snappoint2{
	top: 20px;
	right: 110px;
}

/*3 oclock*/
#snappoint3{
	top: 190px;
	right: 50px;
}
/*4 o clock*/
#snappoint4{
	bottom: 110px;
	right: 110px;
}

/*6 o clock*/
#snappoint5{
	bottom: 50px;
	left:290px;
}

#snappoint6{
	bottom: 110px;
	left: 110px;
}

#snappoint7{
	top: 190px;
	left: 50px;
}

#snappoint8{
	top: 10px;
	left: 110px;
}

/*#wrap {
	position: absolute;
    overflow: hidden;
    top:0px;
    width: 860px;
    height:800px;
    margin: auto;
  }*/
  
 .tint {
    position: absolute;
    width:118px;
    height:118px;
    background:#280F32;
    border: .5px #21213A;
    border-radius:50%;
  }

  .ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

.name{

	position: absolute;
	text-align:center;
	top:30px;
	left:10px;
	width: 100px;
	word-wrap: break-word;

}

.bubble:hover {
    opacity: 1.0;
    cursor: pointer;
  }

#header{
	color:white;
	font-size: 1.5em;
    position: absolute;
    right: 0;
    bottom: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
}

#search{
	position: absolute;
	top:10px;
	left:10px;
	color:white;
}

body {
	background-color: #21213A;
	font-family: 'Oswald', sans-serif;
}

@media (handheld){

}
